<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.threeping.syncday.projmember.query.respository.ProjMemberMapper">

    <!-- Result map for ProjMemberDTO -->
    <resultMap id="ProjMemberResultMap" type="com.threeping.syncday.projmember.query.aggregate.dto.ProjMemberDTO">
        <id property="projMemberId" column="proj_member_id"/>
        <result property="bookmarkStatus" column="bookmark_status"/>
        <result property="participationStatus" column="participation_status"/>
        <result property="projId" column="proj_id"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <!-- Select project members by user ID -->
    <select id="selectProjMembersByUserId" resultMap="ProjMemberResultMap">
        SELECT
            proj_member_id,
            bookmark_status,
            participation_status,
            proj_id,
            user_id
        FROM
            TBL_PROJ_MEMBER
        WHERE
            user_id = #{userId}
    </select>

</mapper>